$hero-split: 40vw

.feed__hero
  display: flex
  flex-direction: row
  width: 100vw
  height: 60vh
  margin-top: 10vh
  background-color: $opd-coral

.feed__hero-img-wrap
  width: $hero-split
  //height: auto
  overflow: hidden

  .feed__hero-img
    height: auto
    width: 100%
    object-fit: cover

.feed__hero-copy-wrap
  display: flex
  flex-direction: column
  align-content: space-between
  flex-flow: row wrap
  width: 100vw - $hero-split
  height: 100%
  background-color: $opd-blue
  padding: 8vh 5vw
  color: $pure-white
  //transform: translateX(100vw-$hero-split)
  //animation: feed_copy_wrap_slide_left .6s ease-out 0s forwards

@keyframes feed_copy_wrap_slide_left
  0%
    transform: translateX(100vw-$hero-split)

  100%
    transform: translateX(0)

.feed__hero-header
  width: 100%
  color: inherit
  transform: translateY(60vh)
  animation: feed_copy_slide_up .6s ease-out .6s forwards

@keyframes feed_copy_slide_up
  0%
    transform: translateY(60vh)

  100%
    transform: translateX(0)

.feed__hero-meta
  display: none

.feed__hero-description
  font-size: 2.2rem
  line-height: 3rem
  transform: translateY(60vh)
  animation: feed_header_slide_up .6s ease-out .8s forwards

@keyframes feed_header_slide_up
  0%
    transform: translateY(60vh)

  100%
    transform: translateX(0)

.feed__hero-link
  transform: translateY(-1.9rem)
  position: absolute
  top: 70vh
  right: 5vw
  align-self: flex-end
  color: $pure-white
  @include gaitq-cta($opd-coral, $pure-white)
  opacity: 0
  animation: feed_meta_slide_left .6s ease-out 1.4s forwards

  svg
    fill: none
    margin-left: 10px
    position: relative
    stroke-linecap: round
    stroke-linejoin: round
    stroke-width: 2
    top: 0
    transform: translateX(-10px)
    transition: .2s ease
    stroke: $pure-white

  &:hover
    svg
      transform: translateX(0)

@keyframes feed_meta_slide_left
  0%
    opacity: 0

  100%
    opacity: 1


.post__feed
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  width: 80vw
  max-width: 1200px
  margin: 10vh auto

.feed__card
  display: flex
  flex-direction: column
  //width: 200px
  max-width: 360px
  //height: 220px
  //margin: 20px
  overflow: hidden
  border-radius: 0
  //box-shadow: 0 0 6px rgba($opd-blue,.8)


  &:hover
    .feed__card--image
      transform: scale(1.2)
    .feed__card__image
      box-shadow: 0 10px 6px -5px rgba($opd-blue,.6)
      transition: 1s ease-in-out
    .feed__card--title
      color: $opd-coral
      transition: .4s ease-in-out

.feed__card__image
  width: 100%
  height: 112.5px
  overflow: hidden
  box-shadow: 0 0 6px rgba($opd-blue,.8)
  transition: .6s ease-in-out

.feed__card--image
  object-fit: cover
  object-position: top
  width: 100%
  height: 100%
  transition: .6s ease-in-out

.feed__card--text
  padding: 2rem 0
  color: $opd-blue
  font-size: $font-size

.feed__card--link
  text-decoration: none
  color: inherit


.feed__card--title
  transition: .2s ease-in-out
  font-weight: $heavy-font

.feed__card--meta
  font-size: $font-size * .5
  padding: 0
  & > span
    font-weight: $heavy-font

@media screen and ( min-width: 768px )

  .feed__card--meta
    font-size: $font-size * .7

  .feed__card
    display: flex
    flex-direction: column
    width: 200px
    max-width: 360px
    //height: 220px
    margin: 20px
    overflow: hidden
    border-radius: 0
    //box-shadow: 0 0 6px rgba($opd-blue,.8)
