.ft__company__logo

  .site__logo
    height: 143px
    & > *
      fill:   #3E3E3C


    .site__logo--group
      .site__logo__disk
        fill: #3E3E3C

      .site__logo__icon

        .site__logo--curve
        .site__logo--legvert
        .site__logo--leg45

      .site__logo--g
      .site__logo--a

      .site__logo__i
        .site__logo--idash
        .site__logo--idot
      .site__logo--t
      .site__logo--Q
