

.landing__testimonial-img
  height: $landing-panel-height
  width: 100%
  object-fit: cover
  display: block

.landing__testimonial-copy
  background-color: rgba($opd-coral, .85)
  color: $pure-white
  position: relative
  top: -$landing-panel-height
  width: 40vw
  display: flex
  align-items: baseline
  padding: 4rem 4rem 0 4rem
  display: flex
  flex-direction: column

.landing__testimonial-title
  margin-bottom: 1rem

.landing__testimonial-author
  align-self: flex-end
