---
layout: default
---

<!-- this page shows all our posts ordered by date -->
<!-- we link to this with /posts/ -->

{% include masthead.html %}


<!--
<div class="post__feed" id="content">

  {% for post in site.posts %}

  <div class="feed__card" data-aos="fade-up">

    <div class="feed__card__image">
    {% picture thumb {{ post.hero | prepend: 'posts/' }} --alt {{ post.hero_alt }} --img class="feed__card--image image--{{ page.hero_focus }}" %}
    </div>
    <div class="feed__card--text">
      <p class="feed__card--meta">Published <span>{{ post.date | date: "%b %d, %Y" }}</span></p>
      <a class="feed__card--link" href="{{ site.baseurl }}{{ post.url }}">

      <h4 class="feed__card--title">{{ post.title }}</h4>
      <p class="post__subtitle">{{ post.subtitle }}</p>
      </a>


    </div>

  </div>

  {% endfor %}


</div>
-->


<section class="portfolio-wraper">

  <div class="portfolio-panel">

    {% for post in site.posts %}
    <a href="{{ post.url }}">
      <div class="portfolio-item" data-aos="fade-in">

        <div class="portfolio-image" style="background-image: url( '/assets/images/posts/{{ post.hero }}' )"></div>

        <div class="portfolio-card-wrapper">

          <div class="portfolio-card">

            <h2 class="portfolio-title">{{ post.title }}</h2>

            <p class="feed__card--meta">Published <span>{{ post.date | date: "%b %d, %Y" }}</span></p>

            <h6 class="portfolio-description">{{ post.content | strip_html | truncatewords: '20' }}</h6>

          </div>
        </div>

      </div>
    </a>
    {% endfor %}

  </div>
</section>
