---
layout: default
---

<!--

Last full read through 02/06/2022

##############################################
# Landing Layout /_layouts/landing.html
##############################################

-->

<div class="landing__page">

  <div class="landing__hero">
    {%- picture {{ page.hero.file | prepend: 'content/' }}
      --img class="landing__hero-img"
      --alt {{ }} -%}
    <div class="landing__copy">
      <div class="bar_decoration"></div>
      <div class="landing__copy-wraper">
        <h2 class="landing__copy-title">{{ page.hero.title }}</h2>

        <p class="Landing__copy-para">{{ page.hero.copy }}</p>

        <a class="landing__cta" aria-label="{{ cta.aria }}" href="{{ page.hero.cta.url }}">
          <span>{{ page.hero.cta.title }}</span>
          <!-- svg arrow -->
          <svg width="13px" height="10px" viewBox="0 0 13 10">
          <polyline points="8 1 12 5 8 9"></polyline></svg>
        </a>

      </div>
    </div>

  </div>

  <div class="landing__card-wrapper">

    {% for item in page.cards %}
      <div class="landing__card">
        <div class="bar_decoration"></div>
        <div class="landing__card-img-wrap">
          {%- picture {{ item.file | prepend: 'content/' }}
            --img class="landing__card-img"
            --alt {{ item.alt }} -%}
        </div>



        <h3 class="landing__card-title">{{ item.title}}</h3>

        <p class="landing__card-copy">{{ item.copy}}</p>

        <a class="landing__card-cta" aria-label="{{ item.aria }}" href="{{ item.cta.url }}">
          <span>{{ item.cta }}</span>
          <!-- svg arrow -->
          <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline></svg>
        </a>

      </div>

    {% endfor %}
  </div>

  <div class="landing__panel">
    {% assign panel = page.panels[0] %}
    {%- picture {{ panel.file | prepend: 'content/' }}
      --img class="landing__panel-img"
      --alt {{ item.alt }} -%}

      <div class="landing__panel-copy float-copy-right landing__panel-boxed" >
        <div class="bar_decoration" data-aos="fade-up"></div>
        <div class="landing__panel-wraper">
          <h2 class="landing__panel-title" data-aos="fade-up">{{ panel.title }}</h2>

          <p class="landing__panel-para" data-aos="fade-in">{{ panel.copy }}</p>

          <a class="landing__panel-cta" aria-label="{{ panel.cta.aria }}" href="{{ panel.cta.url }}" >
            <span>{{ panel.cta.title }}</span>
            <!-- svg arrow -->
            <svg width="13px" height="10px" viewBox="0 0 13 10">
            <polyline points="8 1 12 5 8 9"></polyline></svg>
          </a>

        </div>
      </div>
  </div>

  <div class="landing__panel-icons">

    <div class="bar_decoration"></div>

    <h2 class="panel-icons-title text-center">{{ page.product.title }}</h2>

    <div class="panel__icons">

      {% for item in page.product.icons %}
      {% assign tmp = forloop.index | times: 300 %}
      <div class="icon-wrap" data-aos="fade-right" data-aos-duration="{{ 1700 | minus: tmp }}" >

        <div class="svg-wrap">
          <img class="panel__icons-img" src="{{ item.svg | prepend: '/assets/images/content/icon-svgs/' | append: '.svg'}}">
        </div>

        <h4>{{ item.title }}</h4>
      </div>
      {% endfor %}

    </div>

  </div>


  <div class="landing__panel">

    {% assign panel = page.panels[1] %}
    {%- picture {{ panel.file | prepend: 'content/' }}
      --img class="landing__panel-img"
      --alt {{ item.alt }} -%}

      <div class="landing__panel-copy float-copy-left">
        <div class="bar_decoration" data-aos="fade-in"></div>
        <div class="landing__panel-wraper">
          <h5 class="landing__panel-quote" data-aos="fade-in">{{ panel.quote }}</h5>

          <h6 class="landing__panel-author" data-aos="fade-in">{{ panel.author }}</h6>

        </div>
      </div>
  </div>


</div>
